.profile__wrapper {
  overflow-y: auto;
  max-height: 760px;
}

.profile__content {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card__personal {
  align-items: center;
  gap: 15px;
}

.profile-card__personal-info {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  max-width: 24vw;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 5px var(--chakra-colors-darkGray) solid;
}

.profile-card__personal-info > p {
  display: block;
  line-height: 16px;
  box-sizing: border-box;
}

.profile-card__stack-item {
  padding: 5px;
  border-radius: 6px;
  margin: 0 8px 4px 0;
}

.profile-card__stats {
  font-size: 22px;
  font-weight: bold;
}
