.sidebar {
  height: 85%;
  border-radius: 0px 20px 20px 0px;
  margin-top: 50px;
}

.pages {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 0px 50px 50px 0px;
  width: 13vw;
  transition: 0.5s;
  background: var(--chakra-colors-darkGray);
  opacity: 0.5;
}

.selected,
.pages:hover {
  opacity: 1;
  width: 18vw;
  transition: 0.5s;
}

.page-name-and-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
}
