#auth {
  background: #fff;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--chakra-colors-darkGray);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--chakra-colors-gray);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--chakra-colors-darkGray);
}
