.authentication {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  background: linear-gradient(
    90deg,
    var(--chakra-colors-darkGray) 41.67%,
    rgba(172, 172, 172, 0.9) 47.92%,
    rgba(172, 172, 172, 0) 100%
  );
}

.logo {
  height: 764px;
  width: 35%;
  border-radius: 10px;
  background: var(--chakra-colors-gray);
  background-image: url('../../assets/stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullcard {
  overflow: auto;
  width: 50%;
  height: 764px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  text-align: left;
  width: 384px;
  margin-bottom: 30px;
}

.card {
  border-radius: 10px;
  background: var(--chakra-colors-gray);
  border: 12px solid var(--chakra-colors-darkGray);
  width: 408px;
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 8px;
}

.cardItem {
  width: 100%;
}

.cardItem > p,
.checkbox {
  margin-left: 24px;
  margin-top: 8px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  padding: 0 24px;
}

.cardItemDone {
  margin-left: auto;
}

.linkToRegister {
  width: 384px;
  text-align: left;
  margin-top: 20px;
}
